.landing-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(46 16 101 / 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page__setup,
.landing-page__punchline {
  max-width: 60vw;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
}
