.button {
  border-radius: 8px;
  font-weight: 700;
  background-color: #673ab7;
  padding: 16px 24px;
  color: #fff;
  transition: all 0.2s ease;
  line-height: 140%;
  margin-top: 1rem;
}

.button__regular {
  width: inherit;
  max-width: 20rem;
}

.button__stretch {
  width: 100%;
}
